.b1
{
    width: 600px;
    height: 20px;
    flex-direction: row;
    display:flex;

}

.s1{
    width: 80%;
    height: 20px;
    background-color:#2ECC71;   
}

.s2{
    width: 20%; 
    height: 20px;
    background-color: #2980B9;  
  
    
}
.b2{

    width: 600px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

}
.b3{
    width: 235px;
    height: 80px;
    display: flex;
    flex-direction: row;
}
.b4{
    width: 365px;
    height: 80px;
    display: flex;
    flex-direction: column;
}
.b5{

    width: 365px;
    height: 40px;
    display: flex;
    flex-direction: row;
    
}
.b6{

    width: 365px;
    height: 40px;
    display: flex;
    flex-direction: row;

}
.s3{

    width: 100%;
    height: 80px;
    background-color: #E74C3C;

}
.s4{

    width: 50%;
    height: 40px;
    background-color: #E67E22;
}
.s5{

    width: 50%;
    height: 40px;
    background-color:#95A5A6;
}

.s6{

    width: 33%;
    height: 40px;
    background-color:#F39C12;
}
.s7{

    width: 33%;
    height: 40px;
    background-color:#16A085;
}
.s8{
    flex: 1;
    background-color:#D35400;

}
.b7{
    height: 100px;
    width: 600px;
    display: flex;
    flex-direction: row;

}
.s9{

    width: 100%;
    height: 100px;
    background-color:  #2C3E50; 
}